/* general
*******************************************************************/

html {
    position: relative;
    min-height: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.4em;
    overflow-x: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    font-weight: 400;
    color: $app-color-1;
    background-color: $gray-100;
    -webkit-font-smoothing: antialiased;
    @include media-breakpoint-up(lg) {
        padding-top: 80px;
    }
}

.container {
    padding-left: 24px;
    padding-right: 24px;
}

