/* table
*******************************************************************/

.table {
    font-size: 18px;
    font-weight: 400;
    color: $app-color-1;
    th {
        font-weight: 700;
        background-color: $gray-300;
        border-bottom: 1px solid $gray-300;
        border-top: 0;
        padding: 8px 24px;
    }
    td {
        border-bottom: 1px solid $app-color-5;
        border-top: 0;
        padding: 16px 24px;
        vertical-align: middle;
    }

    &.table-spec {
        font-size: 16px;

        td, th {
            border: 0;
        }
        th {
            background-color: transparent;
            color: $gray-600;
            font-size: 14px;
        }

        tbody {
            tr {
                box-shadow: 0 0 0 2px $white inset, 0 0 0 3px $app-color-5 inset;
                &:hover {
                    background-color: $app-color-6;
                }
            }
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }

    }
}
