<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <![endif]-->

    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <meta name="distribution" content="Global" />
    <meta name="msapplication-config" content="none"/>
    <meta name="copyright" content="© eurekamedia.pl" />

    <meta name="robots" content="noindex, nofollow"/>
    <meta name="format-detection" content="telephone=no"/>

    <meta name="title" content="GRAPE TOWN">


    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap&subset=latin-ext" rel="stylesheet">


</head>

<body itemscope itemtype="http://schema.org/WebPage" class="full-page" style="background-image: url('./images/bg.jpg')">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-11 col-md-10 col-lg-9 col-xl-8">

                <div class="main-card">

                    <div class="row justify-content-center mb-64">
                        <div class="col-10 col-lg-8">

                            <div class="text-center">
                                <img src="./images/brand-main.png" class="img-fluid" alt="GRAPE TOWN">
                            </div>

                            <div class="text-center">
                                <h1>System rezerwacji</h1>
                            </div>

                            <div class="text-center mb-64 app-color-4">REJESTRACJA</div>



                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Osoba fizyczna</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Firma</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="form-group mb-32">
                                        <label for="" class="pl-8">Imię</label>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                    <div class="form-group mb-32">
                                        <label for="" class="pl-8">Nazwisko</label>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                    <div class="clearfix mb-64"></div>
                                    <div class="form-group mb-32">
                                        <label for="" class="pl-8">Nazwa firmy</label>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                    <div class="form-group mb-32">
                                        <label for="" class="pl-8">Numer NIP</label>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                    <div class="clearfix mb-64"></div>
                                    <div class="form-group mb-32">
                                        <label for="" class="pl-8">Ulica i numer domu/lokalu</label>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                    <div class="form-group mb-32">
                                        <label for="" class="pl-8">Kod pocztowy i miejscowość</label>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                    <div class="form-group mb-32">
                                        <label for="" class="pl-8">Kraj</label>
                                        <select class="form-control">
                                            <option value="1" selected>Polska</option>
                                            <option value="2">Francja</option>
                                            <option value="3">Belgia</option>
                                            <option value="4">Holandia</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-32">
                                        <label for="" class="pl-8">Numer telefonu (opcjonalnie)</label>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                    <div class="clearfix mb-64"></div>
                                    <div class="form-group mb-32">
                                        <label for="" class="pl-8">Login (adres e-mail)</label>
                                        <input type="email" class="form-control" value="">
                                    </div>
                                    <div class="form-group mb-32">
                                        <label for="" class="pl-8">Hasło</label>
                                        <div class="input-group mb-3">
                                            <input type="password" class="form-control" aria-describedby="button-addon2" value="1234abcd" id="pass1">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" onclick="tagglePass('#pass1')" type="button">
                                                    <i class="icon-eye"></i>
                                                    <i class="icon-eye-slash d-none"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix mb-64"></div>
                                    <div class="custom-control custom-checkbox mb-16">
                                        <input type="checkbox" class="custom-control-input" id="control1">
                                        <label class="custom-control-label" for="control1">Oświadczam, że zapoznałem się z  <a href="" class="app-color-3">Regulaminem</a></label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-16">
                                        <input type="checkbox" class="custom-control-input" id="control2">
                                        <label class="custom-control-label" for="control2">Zgadzam się na przetwarzanie moich danych osobowych zgodnie z  <span class="app-color-3">Polityką prywatności</span></label>
                                    </div>
                                    <div class="clearfix mb-32"></div>
                                    <button class="btn btn-primary btn-block">ZAREJESTRUJ SIĘ</button>
                                    <div class="clearfix mb-32"></div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                </div>
                            </div>



                            <div class="text-center">
                                Masz już konto? <a href="">Zaloguj się</a>
                            </div>
                            <div class="clearfix mb-32"></div>
                            <div class="text-center">
                                <a href="" class="gray-600 px-16">Regulamin</a>
                                <a href="" class="gray-600 px-16">Polityka prywatności</a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="bs4-xs d-block d-sm-none"></div>
    <div class="bs4-sm d-none d-sm-block d-md-none"></div>
    <div class="bs4-md d-none d-md-block d-lg-none"></div>
    <div class="bs4-lg d-none d-lg-block d-xl-none"></div>
    <div class="bs4-xl d-none d-xl-block d-sl-none"></div>
    <div class="bs4-sl d-none d-sl-block"></div>

</body>
</html>
