<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <![endif]-->

    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <meta name="distribution" content="Global" />
    <meta name="msapplication-config" content="none"/>
    <meta name="copyright" content="© eurekamedia.pl" />

    <meta name="robots" content="noindex, nofollow"/>
    <meta name="format-detection" content="telephone=no"/>

    <meta name="title" content="GRAPE TOWN">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap&subset=latin-ext" rel="stylesheet">

</head>

<body itemscope itemtype="http://schema.org/WebPage" class="bg-white">

    <header>
        <div class="navbar">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="./images/brand-header.svg" alt="">
                </a>
                <div class="navbar-nav">
                    <a class="nav-link active" href="#">REZERWACJA</a>
                    <a class="nav-link" href="#">Moje konto</a>
                    <a class="nav-link" href="#">Wyloguj</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">

            <a href="" class="btn btn-secondary pl-0 mt-n32 mb-16"><i class="icon-back ml-0 mr-16 mt-n1"></i> <small>WRÓĆ</small></a>
            <div class="clearfix"></div>
            <h4 class="mb-0">Szczegóły rezerwacji nr <span class="app-color-3">4587963</span></h4>
            <hr class="mt-0 mb-64">

            <div class="card-box mb-64">

                <div class="card-box-body">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-xl-9">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td class="border-less pl-0">Data zgłoszenia rezerwacji:</td>
                                        <td>15.05.2019 15:48:56</td>
                                    </tr>
                                    <tr>
                                        <td class="border-less pl-0">Status rezerwacji:</td>
                                        <td><span class="status status-new">NOWA</span></td>
                                    </tr>
                                    <tr>
                                        <td class="border-less pl-0">Rodzaj wydarzenia:</td>
                                        <td>Komunia</td>
                                    </tr>
                                    <tr>
                                        <td class="border-less pl-0">Wybrany termin rezerwacji:</td>
                                        <td>
                                            <i class="icon-calendar display-4 mr-8 mt-n1 app-color-5"></i> <span class="mr-16">sobota, 19.10.2019</span>
                                            <i class="icon-clock display-4 mr-8 mt-n1 app-color-5"></i> <span class="mr-16">15:00 - 23:00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-less pl-0">Liczba osób dorosłych:</td>
                                        <td>24</td>
                                    </tr>
                                    <tr>
                                        <td class="border-less pl-0">Liczba dzieci:</td>
                                        <td>18</td>
                                    </tr>
                                    <tr>
                                        <td class="border-less pl-0">Układ stolików:</td>
                                        <td>
                                            <a href="" class="img-loupe" data-toggle="modal" data-target="#Modal1">
                                                <i class="icon-loupe"></i>
                                                <img alt="" src="./images/ustawienie.png"/>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-less pl-0">Usługi dodatkowe:</td>
                                        <td>
                                            <ul class="checked">
                                                <li>Ścianka komunijna do zdjęć 3D Grape Town Hotel</li>
                                                <li>Dodatkowe dekoracje kwiatowe</li>
                                                <li>Grape Town Bowling Club - najnowocześniejsza kręgielnia w Europie</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-10 col-xl-9">
                            <h4 class="mb-0">Wycena <span class="app-color-3">*</span></h4>
                        </div>
                    </div>
                </div>

                <div class="card-box-body app-bg-color-6 py-16">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-xl-9">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <tr>
                                        <td class="border-less pl-0">Menu:</td>
                                        <td class="border-less text-right pr-0">8 190 PLN</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0">Opcje dodatkowe</td>
                                        <td class="text-right pr-0">2 360 PLN</td>
                                    </tr>
                                    <tr>
                                        <td class="border-less pl-0">Razem</td>
                                        <td class="border-less text-right pr-0"><span class="display-4">10 550 PLN</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-box-body pt-2">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-xl-9">

                            <div class="d-flex app-color-4 mb-16">
                                <span class="display-4 mr-2">*</span>
                                <p>Podana cena jest orientacyjna i zostanie zweryfikowana po zatwierdzeniu rezerwacji. Ostateczna kwota nie wzrośnie o więcej niż 10%.</p>
                            </div>

                            <label for="" class="pl-8 app-color-1">Twoje uwagi do rezerwacji (opcjonalnie)</label>
                            <textarea class="form-control mb-64" name="" id="" cols="30" rows="5"></textarea>

                            <div class="row justify-content-center mb-48">
                                <div class="col-lg-6">
                                    <button class="btn btn-block btn-primary">ZAPISZ</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-32">
                    <div class="row">
                        <div class="col-7 col-sm-5 col-md-4 col-lg-9 col-xl-8">
                            <img src="./images/brand-footer.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-32">
                    <h5>ADRES</h5>
                    <p>al. Wojska Polskiego 79 65-762 Zielona Góra</p>
                </div>
                <div class="col-lg-3 mb-32">
                    <h5>KONTAKT</h5>
                    <a href="">bok@grapetownhotel.pl</a>
                    <p class="d-flex">
                        <span class="pr-1">Recepcja: </span>
                        <span>
                            +48 68 353 70 90<br>
                            +48 79 864 56 15
                        </span>
                    </p>
                </div>
                <div class="col-lg-3 mb-32">
                    <h5>MENU</h5>
                    <ul class="nav">
                        <li class="nav-item"><a href="">Pomoc</a></li>
                        <li class="nav-item"><a href="">Regulamin</a></l>
                        <li class="nav-item"><a href="">Polityka prywatności</a></l>
                    </ul>
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between">
                <h6>Grape Town Hotel © 2019 All rights reserved</h6>
                <h6>design by eureka media | powered by eZ Publish</h6>
            </div>

        </div>
    </footer>

    <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header m-0">
                    <button type="button" class="close mr-0" data-dismiss="modal" aria-label="Close">
                        <i class="icon-close"></i>
                    </button>
                </div>
                <div class="modal-body m-0 p-0">
                    <img src="./images/ustawienie-LG.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="bs4-xs d-block d-sm-none"></div>
    <div class="bs4-sm d-none d-sm-block d-md-none"></div>
    <div class="bs4-md d-none d-md-block d-lg-none"></div>
    <div class="bs4-lg d-none d-lg-block d-xl-none"></div>
    <div class="bs4-xl d-none d-xl-block d-sl-none"></div>
    <div class="bs4-sl d-none d-sl-block"></div>

</body>
</html>
